main{
.info {
  margin-left: 70px;
}

.oficina {
  text-align: center;
}

.Formu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  input,
  textarea {
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: silver;
    width: 100%;
    padding: 10px;
  }

  #submit {
    width: 100px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: $font-stack;
    font-size: 16px;
  }
}
}
