@import '../general/variables';
@import'../general/reset';
@import'../general/mixin';
@import'../general/extend';
.product {
  display: grid;
  grid-template-columns: repeat(3, 410px);
  gap: 20px; /* Espaciado entre elementos */
  justify-content: center; /* Centra las columnas horizontalmente */
  padding: 20px;

  article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(196, 161, 22, 0.71);
    -moz-box-shadow: 0px 0px 6px 3px rgba(196, 161, 22, 0.71);
    box-shadow: 0px 0px 6px 3px rgba(196, 161, 22, 0.71);

    img {
      max-width: 100%;
      flex-wrap: nowrap; /* Asegura que la imagen se ajuste dentro de la tarjeta */
    }

    .price {
      font-size: 16px; /* Tamaño del precio */
      color: #ff6600; /* Color del precio */
      font-weight: bold; /* Texto en negrita */
    }

    .description {
      font-size: 16px; /* Tamaño de la descripción */
      color: #333; /* Color del texto de la descripción */
      margin: 0; /* Elimina el margen superior de la descripción */
    }

    #detail {
      color: #333;
      text-decoration: none;
    }
  }
}